<!-- specialityMenu.html -->
<div class="flex flex-col items-center gap-4 py-16 text-[#2d3748] pointer-events-auto">
    <h1 class="text-3xl font-bold text-white">Find by Speciality</h1>
    <p class="sm:w-1/3 text-white text-center text-sm">Simply browse through our extensive list of trusted doctors,
        schedule your
        appointment hassle-free.</p>

    <div class="flex sm:justify-center gap-4 pt-5 w-full overflow-x-auto text-white [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
        <!-- Speciality Items -->
        <a href="/doctors/general-physician"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl flex items-center justify-center font-bold drop-shadow-sm">🩺</span>
            </div>
            <p>General physician</p>
        </a>

        <a href="/doctors/gynecologist"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl font-bold drop-shadow-sm">👩‍⚕️</span>
            </div>
            <p>Gynecologist</p>
        </a>

        <a href="/doctors/dermatologist"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl font-bold drop-shadow-sm">🔬</span>
            </div>
            <p>Dermatologist</p>
        </a>

        <a href="/doctors/pediatricians"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl font-bold drop-shadow-sm">👶</span>
            </div>
            <p>Pediatricians</p>
        </a>

        <a href="/doctors/neurologist"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl font-bold drop-shadow-sm">🧠</span>
            </div>
            <p>Neurologist</p>
        </a>

        <a href="/doctors/gastroenterologist"
            class="flex flex-col items-center text-xs cursor-pointer flex-shrink-0 transition-all duration-300 hover:-translate-y-2">
            <div
                class="w-24 h-24 bg-white/20 backdrop-blur-md border border-white/40 shadow-sm rounded-full mb-2 flex items-center justify-center">
                <span class="text-5xl font-bold drop-shadow-sm">🫃</span>
            </div>
            <p>Gastroenterologist</p>
        </a>
    </div>
</div>