{% extends 'base.html' %}

{% block title %}Jobs - Mediconnect{% endblock %}

{% block content %}
<div>
      <h1>become more at Mediconnect+</h1>
      <p>Join our team of passionate professionals and help us shape the future of healthcare.</p>
      <div>

            <p>
                  Role Skills
                  Junior Web Developer
                  HTML, CSS, JavaScript, WordPress, Git & GitHub

                  Digital Marketing Associate SEO, SEM, Social Media Marketing, Content Creation, Google Analytics

                  Project Coordinator Project Management Software, Microsoft Office, Team Collaboration, Scheduling
            </p>





      </div>

</div>
{% endblock %}